{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" container justify-content-center text-center">
        <h1 class="display-3">Multiplayer</h1>
    </div>
    <div class="container justify-content-right text-right">
        <h3>Pot: <span id="pot"></span></h3>
        <h4>Balance: <span id="balance"></span></h4>
    </div>
    <div class="container bg-dark rounded">
        <div class="row">
            <div class="col-12">
                <h4 class="text-white text-center">Dealer</h4>
            </div>
        </div>
        <div class="row" id="dealercards">

        </div>
        <hr class="hr-white">
        <div class="row">
            <div class="col-12">
                <h4 class="text-white text-center">Players</h4>
            </div>
        </div>
        <div class="row h-50" id="multiplayercards">

          <div class="row h-50" id="multiplayersplitcards">

          </div>
        </div>
        <hr class="hr-white">
        <div class="row">
            <div class="col-12">
                <h4 class="text-white text-center">You</h4>
            </div>
        </div>
        <div class="row h-50" id="playercards">

          <div class="row h-50" id="splitcards">

          </div>
        </div>
        <hr class="hr-white">
        <div class="row">
            <div class="col-3">
                <div id="buttondiv">
                    {#append buttons based on signals#}
                </div>
                <button class="btn btn-warning btn-round my-2" id="reset">Reset Table</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            socket = new WebSocket('ws://127.0.0.1:8000/singleplayer');
            socket.onopen = function () {
                var x = "discard me";
                {#alert("Connected");#}
            };

            function sendresp(data) {
                console.log(JSON.stringify(data));
                socket.send(JSON.stringify(data));
            }
            function clear(){
                $('#dealercards').empty();
                $('#playercards').empty();
                $('#buttondiv').empty();
            }

            let response = {};
            $('#reset').bind("click", function () {
                response['action'] = 'reset';
                sendresp(response);
                {#TODO: Make this more elegant#}
                {#$('#dealercards').empty();#}
                {#$('#playercards').empty();#}
            });
            socket.onmessage = function (event) {
                clear();
                let data = JSON.parse(event.data);
                clear();
                response={};
                $('#pot').text(data['pot']);
                $('#balance').text(data['balance']);
                if ('dealercards' in data) {
                    for (let i = 0; i < data.dealercards.length; i++) {
                        $('#dealercards').append(
                            '<div class="col-md-3"><img class="mx-auto bg-light m-2 rounded" src="' + data.dealercards[i].url + '">'
                        );
                    }
                }
                if ('playercards' in data) {
                    for (let i = 0; i < data.playercards.length; i++) {
                        $('#playercards').append(
                            '<div class="col-md-3"><img class="mx-auto bg-light m-2 rounded" src="' + data.playercards[i].url + '">'
                        );
                    }
                }
                let btndiv = $('#buttondiv');
                if ('readysignal' in data) {
                    for (let i = 0; i < data.readysignal.length; i++) {
                        let signal = data.readysignal[i];
                        if (signal === "Bet") {
                            btndiv.append(
                                `
                                <form id="betform">
                                <input type="number" min="1" max="${data['balance']}" class="form-control" name="betamt" id="betamt">
                                <button class="btn btn-primary btn-round m-2" id="bet">Bet</button>
                                </form>
                                `
                            );
                            $('#betform').submit(function (e) {
                                response['betamt'] = $('#betamt').val();
                                e.preventDefault();
                                console.log(response);
                                sendresp(response);
                            });
                        } else {
                            btndiv.append(
                                `<button class="btn btn-primary btn-round m-2" id="${signal}">${signal}</button>`
                            );
                            $('#' + signal).bind('click', function () {
                                response['action'] = signal;
                                sendresp(response);
                            });
                        }
                    }
                }
                if('result' in data) {
                #Rework for delay to display all cards before end state
                    if(data['result']){
                        alert("YOU WON");
                    }
                    else{
                        alert("YOU LOST");
                    }
                }
            };
        });

    </script>
{% endblock %}