{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" container justify-content-center text-center">
        <h1 class="display-3">Singleplayer</h1>
    </div>
    <div class="container justify-content-right text-right">
        <h3>Bet: <span id="bet_amt"></span></h3>
        <h3><span id="split_bet_amt"></span></h3>
        <h4>Balance: <span id="balance"></span></h4>
    </div>
    <div class="container bg-dark rounded">
        <div class="row">
            <div class="col-12">
                <h4 class="text-white text-center">Dealer</h4>
            </div>
        </div>
        <div class="row" id="dealercards">

        </div>
        <hr class="hr-white">
        <div class="row">
            <div class="col-12">
                <h4 class="text-white text-center">You</h4>
            </div>
        </div>
        <div class="row h-50" id="playercards">

        </div>
        <div class="row">
            <div class="col-3">
                <div id="buttondiv">
                    {#append buttons based on signals#}
                </div>
            </div>
            <div class="col-3">
                <h4 class="text-white text-center">
                <span id="primary_end_condition">

                </span>
                </h4>
            </div>
        </div>
        <hr class="hr-white">
        <div class="row h-50" id="splitcards">

        </div>
        <div class="row">
            <div class="col-3">
                <div id="splitbuttondiv">
                    {#append split buttons based on signals#}
                </div>
            </div>
            <div class="col-3">
                <h4 class="text-white text-center">
                <span id="split_end_condition">

                </span>
                </h4>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="{% static 'js/singleplayer.js' %}"></script>
{% endblock %}