{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" container justify-content-center text-center">
        <h1 class="display-3">Singleplayer</h1>
    </div>
    <div class="container justify-content-right text-right">
        <h3>Pot: </h3>
        <h4>Balance: </h4>
    </div>
    <div class="container bg-dark rounded">
        <div class="row h-50" id="dealercards">
            <div class="col-md-1">
                <h4 class="text-white text-right">Dealer</h4>
            </div>
            <div class="col-md-3">
                <img class="mx-auto bg-light m-2 rounded" src="{% static 'cards/back.png' %}">
            </div>

        </div>
        <div class="row h-50" id="playercards">
            <div class="col-md-1">
                <h4 class="text-white text-right">You</h4>
                <button class="btn btn-primary btn-round my-2" id="hit">Hit</button>
                <button class="btn btn-primary btn-round my-2" id="stay">Stay</button>
                <form method="post" id="bidForm">
                    {% csrf_token %}
                    {{ form }}
                    <input type="number" min="1" id="bidInput">
                    <button class="btn btn-primary btn-round my-2" type="submit">Bid</button>
                </form>
                <button class="btn btn-secondary btn-round my-2" id="dhit">Dealer Hit</button>
                <button class="btn btn-warning btn-round my-2" id="reset">Reset Table</button>
            </div>
            <div class="col-md-3">
                <img class="mx-auto bg-light m-2 rounded" src="{% static 'cards/back.png' %}">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            socket = new WebSocket('ws://127.0.0.1:8000/singleplayer');
            socket.onopen = function () {
                var x = "discard me";
                {#alert("Connected");#}
            };
            socket.onmessage = function (event) {
                var data = JSON.parse(event.data);
                if ('dealercards' in data) {
                    for (var i = 0; i < data.dealercards.length; i++) {
                        $('#dealercards').append(
                            '<div class="col-md-3"><img class="mx-auto bg-light m-2 rounded" src="' + data.dealercards[i].url + '">'
                        );
                    }
                }
                if ('playercards' in data) {
                    for (var i = 0; i < data.playercards.length; i++) {
                        $('#playercards').append(
                            '<div class="col-md-3"><img class="mx-auto bg-light m-2 rounded" src="' + data.playercards[i].url + '">'
                        );
                    }
                }
            };

            const bidForm = $(document).getElementById('bidForm');
            bidForm.addEventListener('submit', (event) => {
                const bid = bidForm.elements['bidInput'];
                let text = '{"betamt": bid.value}';
            });

            $('#reset').bind("click", function () {
                socket.send("reset");
                location.reload();
                {#TODO: Make this more elegant#}
                {#$('#dealercards').empty();#}
                {#$('#playercards').empty();#}
            });
            $('#hit').bind("click", function () {
                let text = '{"action":"hit"}';
                const buttonEvent = JSON.parse(text);
                socket.send(buttonEvent);
            });
            $('#stay').bind("click", function () {
                let text = '{"action":"stay"}';
                const buttonEvent = JSON.parse(text);
                socket.send(buttonEvent);
            });
            $('#dhit').bind("click", function () {
                socket.send("dhit");
            });
        });

    </script>
{% endblock %}